.image-control-wrapper {
}

.image-control-drop-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 24px);
  border: 1px dashed transparent;
  z-index: 1;
}

.image-control-drop-area.drag-enter {
  border-color: rgba(0, 0, 0, 0.30);
  z-index: 1000;
}

.image-control-wrapper > .image-control-drop-area + * {
  position: relative;
  z-index: 1001;
}

.image-control-drop-area-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 12px));
  color: rgba(0, 0, 0, 0.30);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
